<% layout('layouts/boilerplate') %> 

<div id="map" style="width: 100%; height: 450px" class="mb-3"></div>

<h1>All Eateries</h1>
<div class="mb-3">
    <a class="btn btn-primary" href="/eateries/new">Create New</a>
</div>
<% for(let eatery of eateries) { %>
    <div class="card" mb-3>
        <div class="row">
            <div class="col-md-4">
                <% if(eatery.images.length){ %> 
                    <img class="img-fluid" alt="" src="<%= eatery.images[0].url %>">
                <% }else{ %>
                    <img class="img-fluid" alt="" src="">   
                <% } %> 
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= eatery.title %> </h5>
                    <p class="card-text"><%= eatery.description %> </p>
                    <p class="card-text">
                        <small class="text-muted"><%= eatery.location %></small>    
                    </p>
                    <a class="btn btn-primary" href="/eateries/<%= eatery._id %>">View</a>
                </div>
            </div>
        </div>
    </div>
<% } %>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const eateries = { features: <%-JSON.stringify(eateries)%> };
</script>
<script src="/javascripts/clusterMap.js"></script>